#summaryCard {
    display: flex;
    align-items: center;
}

#summaryCard:hover {
    text-decoration-color: black;
}

#petAvatar {
    border-radius: 50%;
    margin-right: -35px;
}

#summaryCard-img {
    z-index: 200;
}

#summaryCard-content {
    background-color: #7DCE82;
    color: black;
    padding-left: 50px;
    padding-right: 1em;
    border-radius: 0 1em 1em 0;
    z-index: 100;
}